{% extends "blog/base.html" %}

{% block content %}
<div class="heading"><h1>Log-in</h1></div>
{% if form.errors %}
<div class="heading"><h1>
    Your username and password didn't match.
    Please try again.
</h1></div>
{% else %}
<div class="heading"><h1>Please, use the following form to log-in:</h1></div>
{% endif %}

<div class="login-form">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="login-form">
            <h1>Username:</h1>
            {{ form.username }}
        </div>

        <div class="login-form">
            <h1>Password:</h1>
            {{ form.password }}
        </div>

        <input type="hidden" name="next" value="{{ next }}"/>

        <div class="button-div">
            <button type="submit" class="save btn btn-default">log-in</button>
        </div>
    </form>

    <a href="{% url 'register' %}">
        <div class="the-standard-block">
            <div id="p1"><h1>Or register!</h1></div>
        </div>
    </a>
    <a href="{% url 'password_reset' %}">
        <div class="the-standard-block">
            <h1>I don't remember my password!</h1>
        </div>
    </a>
</div>
{% endblock %}