{% extends "blog/base.html" %}

{% block content %}
    <h1>Log-in</h1>
    {% if form.errors %}
        <p>
            Your username and password didn't match.
            Please try again.
        </p>
    {% else %}
        <p>Please, use the following form to log-in:</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-username">
                <p>Username:</p>
            {{ form.username }}
        </div>
        <div class="form-password">
            <p>Password:</p>
            {{ form.password }}
        </div>
            <input type="hidden" name="next" value="{{ next }}"/>
            <button type="submit" class="save btn btn-default">log-in</button>
        </form>
        <div class="reg">
            <h1><a href="{% url 'register' %}">Or register!</a></h1>
        </div>
    </div>
{% endblock %}