{% extends "blog/base.html" %}

{% block content %}

    {% if validlink %}
        <h1>New password</h1>
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr><th></th><th class="form-password"><p>New password:</p></th></tr>
                <tr class="regpass">
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1"></label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr><th></th><th class="form-password"><p>Confirm password:</p></th></tr>
                <tr class="form-password">
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2"></label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" class="save btn btn-default" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}


{% endblock %}