{% extends "blog/base.html" %}

{% block content %}

{% if validlink %}
<div class="heading"><h1>New password</h1></div>
<div class="heading"><h1>Please enter (and confirm) your new password.</h1></div>

<div class="login-form">
    <form action="" method="post">
        {% csrf_token %}
        <div class="login-form">
            <h1>New password:</h1>
            {{ form.new_password1 }}
            {{ form.new_password1.errors }}
        </div>
        <div class="login-form">
            <h1>Confirm password:</h1>
            {{ form.new_password2 }}
            {{ form.new_password2.errors }}
        </div>
        <div class="button-div">
            <input type="submit" class="save btn btn-default" value="Change my password"/>
        </div>
    </form>
</div>
{% else %}
<h1>Password reset failed</h1>
<p>The password reset link was invalid, possibly because it has already been used. Please request a new password
    reset.</p>
{% endif %}


{% endblock %}