{% extends "blog/base.html" %}

{% block content %}
<div class="heading"><h1>Create an account</h1></div>
<div class="heading"><h1>Please, sign up using the following form:</h1></div>

<div class="login-form">
    <form action="." method="post">
        {% csrf_token %}
        <div class="login-form">
            <h1>Username:</h1>
            {{ user_form.username }}
        </div>

        <div class="login-form">
            <h1>Email adress:</h1>
            {{ user_form.email }}
        </div>

        <div class="login-form">
            <h1>Password:</h1>
            {{ user_form.password }}
        </div>

        <div class="login-form">
            <h1>Repeat password:</h1>
            {{ user_form.password2 }}
        </div>
        <div class="button-div">
            <input type="hidden" name="next" value="{{ next }}"/>
            <button type="submit" class="save btn btn-default">Create my account</button>
        </div>
    </form>
</div>
{% endblock %}
