{% load static %}
<html>
    <head>
        <title>One-P</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if request.user.is_authenticated %}
                <div class="exit"><a href="{% url 'logout' %}">Exit</a></div>
            {% else %}
                <div class="enter"><a href="{% url 'login' %}">Login</a></div>
            {% endif %}
            {% if request.user.is_authenticated %}
            <div class="top-menu"><a href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span></a></div>
            <div class="my-page" ><a href="{% url 'profile' %}">My page</a></div>
            {% endif %}
            <h1><a href="/">New Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>