{% extends 'blog/base.html' %}

{% block content %}
<div class="heading"><h1>Edit Post</h1></div>

<div class="form-block">
    <form method="POST" class="form-text">
        {% csrf_token %}
        <div class="edit-title">
            <input type="text" placeholder="Title" name="title" value="{{ post.title }}"/>
        </div>
        <div class="edit-text">
            <textarea name="text" placeholder="Text" cols="40" rows="20">{{ post.text }}</textarea>
        </div>
        <div class="button-div">
            <button type="submit" class="save btn btn-default">Save</button>
        </div>
    </form>
</div>
{% endblock %}