{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <div class="author"><a href="{% url 'author_list' id=post.author_id value=post.author %}"> Author: {{ post.author }}</a></div>
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if post.author == request.user %}
            <div class="edit"><h2><a href="{% url 'post_edit' pk=post.pk %}">edit</a></h2></div>
            <div class="delete"><h2><a href="{% url 'delete' pk=post.pk %}">delete</a></h2></div>
        {% endif %}
        <div class="comment_count">
            {% if comments.count > 0 %}
            {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2>
            {% endwith %}
            {% endif %}
        </div>
    </div>

    <div class="comment_list">
        <div class="comment">
        {% for comment in comments %}
            <div class="post">
                <h1>{{ comment.name }}</h1>
                <div class="comment_body">{{ comment.body|linebreaks }}</div>
                <div class="date">{{ comment.created }}</div>
            {% if comment.name == request.user %}
                <div class="com_delete"><h2><a href="{% url 'comment_delete' pk=comment.pk %}">delete</a></h2></div>
            {% endif %}
            </div>
        {% empty %}
            <h1>There are no comments.</h1>
        {% endfor %}
        </div>
        <div>
            <form action="." method="post">
                <div class="form-text">
                {{ comment_form.body }}
                </div>
                {% csrf_token %}
                <div class="comment_button">
                <button type="submit" class="save btn btn-default">Add comment</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}