/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.bigred{
	font-size: 20px;
	color: red;
}

/*Основная часть*/

a{color:#fff;}
h1 {
    color: #fff;
    font-size: 20px;
}

.page {
  display: flex;
  flex-direction:column;
  height: 100%;
}

		.header {
		    position: fixed;
		    display: flex;
		    align-items:center;
		    height: 40px;
		    box-sizing: border-box;
	      	width: 100%;
		    font-family: 'Ubuntu', sans-serif;
		    padding-left: 12px;
		    background-color: #303030;
		    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.50);
		}

				.start_page {
					display: flex;
					align-items:center;
					width: 125px;
					height: 40px;
					margin-right: 50px;
					transition: .5s;
				}
				.start_page h1{
				    font-size: 25px;
				    font-weight: bold;
				}
                .start_page:hover{
                    transform: scale(1.1);
                }

				.search-box {
					display: flex;
					justify-content: flex-end;
					flex: 1 1 auto;
				}
				input[type=search]{
					right: 0;
					color: #191a19;
					font-size: 15px;
					height: 30px;
					padding-left: 10px;
					align-items:center;
					border-radius: 10px;
					background-color: #919191dd;
				}
				input[type=search]::placeholder {
  					color: #191a19;
  					font-size: 15px;
				}

				/* start .list_menu*/
				ul {
					align-self:flex-start;
					width: 50px;
				}

					ul li svg {
						transition: .5s;
					}
					ul li:hover > svg{
						transform: scale(1.2);
					}
					ul li > svg {
						padding-bottom: 5px;
					}
						ul li ul{
							position: absolute; /* Position them relative to the browser window */
    					right: -80px;
							transition: 0.3s;
						}
						ul li:hover > ul{
							right: 0;
						}
							ul li ul li{
								background-color: #303030;
								padding: 3px 5px 0px 5px;
								margin: 0px 5px 5px 0px;
								border-radius: 5px;
								transition: .5s;
							}
							ul li ul li:hover{
								transform: scale(1.1);
							}
				/* end .list_menu*/
/*------------------------------------------------*/

		.footer {
            font-family: 'Ubuntu', sans-serif;
		    font-size: 20px;
			padding-left: 12px;
			color: #fff;
			background-color: #303030;
		}

		.pagination{
		    width: 35%;
		}

		.coordination{
		    margin: 5px 0px 5px 0px;
		}

		.form-Pagination{
		    display: flex;
		    margin: 5px 0px 5px 0px;
		}

		.paginator{
		    margin: 0px 5px 0px 5px;
		}

html::-webkit-scrollbar {
      width: 10px;
   }

html::-webkit-scrollbar-track {
    background-color: black;
  }

html::-webkit-scrollbar-thumb {
    background: #4e4e4e;
    border-radius: 25px;
  }