.page-header {
    background-color: 000102;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}
.page-header h1 a:hover {
    color: 908d8d;
}

.content {
    margin-left: 40px;
}

.date {
    color: #010400;
    font-family: 'Marck Script', cursive;
    font-size: 110%
}

h1 {
    color: #010400;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.save  {
    float: left;
    font-family: 'Marck Script', cursive;
    margin-top: 20px;
    box-shadow:4px 4px 10px rgba(0,0,0,0.4);
}
button:active, button:focus, input:active, input:focus, textarea:active, textarea:focus {
  outline: none !important;
}

.top-menu, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.top-menu:hover{
    color: 908d8d;
}


.post {
    margin-bottom: 70px;
}

.post h1 a {
    text-decoration: none;
    color: #010400;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.post h1 a:hover {
    color: 908d8d;
}

.post p {
    color: #010400;
    font-family: 'Marck Script', cursive;
    font-size: 130%
}

.author, .author a {
    color: #010400;
    float: right;
    font-family: 'Marck Script', cursive;
    font-size: 15px;
    margin-top: 10px;
    text-decoration: none;
}

.author a:hover {
    color: 908d8d;
}
.form-title input{
font-family: 'Marck Script', cursive;
    resize: vertical;
    padding:15px;
    border-radius:10px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.4);
    height:50px;
    width: 600px;
}

.form-text textarea{
    font-family: 'Marck Script', cursive;
    margin-top: 20px;
    resize: vertical;
    padding:15px;
    border-radius:10px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.4);
    height:200px;
    width: 600px;

}
