.page-header {
    background-color: 000102;
    padding: 10px 0px 0px 40px;
    margin: 0;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    padding-bottom: 10px;
    margin: 0px;
    top: 15px;
}

.my-page a, .my-page  {
    color: #ffffff;
    font-size: 15px;
    float: right;
    margin: 0px;
    font-family: 'Lobster', cursive;
    margin: 18px 8px 0px 0px;
}

.top-menu a, .top-menu {
    color: #ffffff;
    font-size: 15pt;
    float: right;
    margin: 18px -10px 0px 0px;
}

.page-header h1 a:hover, .top-menu a:hover, .my-page a:hover, .exit a:hover, .enter a:hover{
    color: 908d8d;
    text-decoration: none;
}
 .a a: hover {
    color: 908d8d;
    text-decoration: none;
 }
.exit, .enter, .exit a, .enter a{
    color: #ffffff;
    font-size: 15px;
    float: right;
    margin:-5px 5px 0px 0px;
    font-family: 'Lobster', cursive;
}

h1 {
    color: #010400;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

h2, h3 {
    margin: 0px;
}

.content {
    margin-left: 40px;
}

.date {
    color: #010400;
    font-family: 'Marck Script', cursive;
    font-size: 110%
}

.save  {
    float: left;
    font-family: 'Marck Script', cursive;
    margin-top: 20px;
    box-shadow:4px 4px 10px rgba(0,0,0,0.4);
}
button:active, button:focus, input:active, input:focus, textarea:active, textarea:focus {
  outline: none !important;
}

.post {
    margin-bottom: 70px;
}

.post h1 a {
    text-decoration: none;
    color: #010400;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.post h1 a:hover {
    color: 908d8d;
}

.post p {
    color: #010400;
    font-family: 'Marck Script', cursive;
    font-size: 130%
}

.author, .author a {
    color: #010400;
    float: right;
    font-family: 'Marck Script', cursive;
    font-size: 15px;
    margin-top: 10px;
    text-decoration: none;
}

.author a:hover {
    color: 908d8d;
}

.title_author h1 {
    float: right;

}

.form-title input{
    font-family: 'Marck Script', cursive;
    resize: vertical;
    padding:15px;
    border-radius:10px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.4);
    height:50px;
    width: 600px;
}

.form-text textarea{
    font-family: 'Marck Script', cursive;
    margin-top: 20px;
    resize: vertical;
    padding:15px;
    border-radius:10px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.4);
    height:200px;
    width: 600px;

}

.form-username input{
    padding:15px;
    border-radius:10px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.4);
    height:20px;
    width: 200px;
    margin-bottom: 10px;
}

.form-password input{
    padding:15px;
    border-radius:10px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.4);
    height:20px;
    width: 200px;
}

.form-username p, .form-password p {
    font-family: 'Marck Script', cursive;
    font-size: 15px;
    margin-left: 5px;
}

.logged-out h1 {
    margin: 80px 0px 0px 500px;
}

.regname p, .regemail p, .regpass p, .regpass2 p {
    font-family: 'Marck Script', cursive;
    font-size: 15px;
    margin: 0px 0px 0px 5px;
}

.regname input, .regemail input, .regpass input {
    padding:15px;
    border-radius:10px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.4);
    height:20px;
    width: 200px;
    margin-bottom:10px;
}

.regpass2 input {
    padding:15px;
    border-radius:10px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.4);
    height:20px;
    width: 200px;
    margin-bottom:0px;
}

.reg h1 a, .reg h1{
    text-decoration: none;
    color: #010400;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    float: left;
    margin: 6px 0px 0px 10px;
}

.reg a:hover{
    color: 908d8d;
}