
h1 a {
    color: #03198d;
    font-family: 'Mochiy Pop One', sans-serif;
}
h2 a {
    color: #06861d;
    font-family: 'Lobster';
}
p1 {
    color: #010400;
    font-family: 'Pacifico', cursive;
    font-size: 110%
}
p2 {
    color: #010400;
    font-family: 'Pacifico', cursive;
    font-size: 150%
}
body {
    padding-left: 15px;
}