.login-form input{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 5px;
    margin: 5px 0px 5px 0px;
    border-radius: 10px;
    background-color: #333 ;
    color: #ccc;
    font-size: 15px;
}

.form-block {
    width: 100%;
    display: flex;
	flex-direction: column;
	align-items:center;
}
.button-div{
    display: flex;
    justify-content: flex-end;
}

.form-text{
    width: 80%;
}

.edit-title input{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    background-color: #333;
    color: #ccc;
    font-size: 15px;
}

.edit-text textarea{
     width: 100%;
     padding: 5px;
     margin: 10px 0px 10px 0px;
     border-radius: 10px;
     background-color: #333;
     color: #ccc;
     font-size: 15px;
}
.save{
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    background-color: #222;
    padding: 5px;
    font-size: 15px;
    color: #ccc;
}

textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
      width: 10px;
   }

textarea::-webkit-scrollbar-track {
    background-color: black;
  }

textarea::-webkit-scrollbar-thumb {
    background: #4e4e4e;
    border-radius: 25px;
  }